{% extends "layout.html" %}

{% block content %}
    {% from "_macros.html" import render_field %}
    {% from "_macros.html" import color_band1_band2 %}
    {% from "_macros.html" import color_band3 %}
    {% from "_macros.html" import color_tolerancia %}


    <div class="container">
        <br>
        
        <br>
        <div class="card border-primary mb-3">
            <div class="card-header" style="background: #8B0000; color: white;">Resistencias</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form action="" method="post" novalidate>
                            <div class="form-group">
                                
                                {{ render_field(form.band1) }}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ render_field(form.band2) }}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ render_field(form.band3) }}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ render_field(form.tolerancia) }}
                            </div>
                            <br>
                            <div class="text-center">
                                <input type="submit" value="Guardar" class="btn btn-primary">
                                <input type="submit" value="Limpiar" class="btn btn-danger" formaction="{{ url_for('limpiar') }}">
                            </div>
                            
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                          <tr>        
                            <th>Banda 1</th>
                            <th>Banda 2</th>
                            <th>Banda 3</th>
                            <th>Tolerancia</th>
                            <th>Valor</th>
                            <th>Valor mínimo</th>
                            <th>Valor máximo</th>

                          </tr>
                        </thead>
                        <tbody>
                            {% for datos_resistencia in datos %}
                            <tr>
                              <td style="background-color: {{ color_band1_band2(datos_resistencia[0]) }}; color: white;" class="text-center">{{ datos_resistencia[0] }}</td>
                              <td style="background-color: {{ color_band1_band2(datos_resistencia[1]) }}; color: white;" class="text-center">{{ datos_resistencia[1] }}</td>
                              <td style="background-color: {{ color_band3(datos_resistencia[2]) }}; color: white;" class="text-center">{{ datos_resistencia[2] }}</td>
                              <td style="background-color: {{ color_tolerancia(datos_resistencia[3]) }}; color: white;" class="text-center">{{ datos_resistencia[3] }}</td>
                              <td class="text-center">{{ datos_resistencia[4] }} Ohms {{ datos_resistencia[3] }} %</td>
                              <td class="text-center">{{ datos_resistencia[5] }}</td>
                              <td class="text-center">{{ datos_resistencia[6] }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          
                      </table>
                      
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
